<!DOCTYPE html>
<html lang="en">

<head>
    <title>TechShop Chatbot with Messenger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Manychat -->
<script src="//widget.manychat.com/164245683449375.js" defer="defer"></script>
<script src="https://mccdn.me/assets/js/widget.js" defer="defer"></script>
</head>

<body>
    <div class="mcwidget-embed" data-widget-id="22068724"></div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="mt-3">
                    Test my bot on Messenger (alway works): 👉 <a target="_blank"
                        href="http://m.me/techShopHaryphamdev">m.me/techShopHaryphamdev</a>
                </div>
                <br />

                <div>
                    <span style="color: red">For more information, please visit my youtube channel (or facebook page) to
                        watch awesome videos to build amazing bots.</span><br />
                    Youtube channel: 👉 <a title="Click here to visit my youtube channel"
                        href="https://www.youtube.com/channel/UCHqJxLo7mKam9GKqqwr2wfA?sub_confirmation=1"
                        target="_blank">Click here</a><br />
                    Facebook page: 👉 <a title="Click here to visit my facebook page"
                        href="https:facebook.com/haryphamdev" target="_blank">Click here</a><br />
                </div>

                <div class="mt-3">
                    <b>Video demo how this bot works:</b>
                    <div class="mt-2">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/WtFBryUmM0A" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Load Facebook SDK for JavaScript --- Facebook Chat Plugin -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v6.0'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="<%= facebookAppId %>">
    </div>
    </div>
</body>

</html>










































$session = New-Object Microsoft.PowerShell.Commands.WebRequestSession
$session.UserAgent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
$session.Cookies.Add((New-Object System.Net.Cookie("visitorId", "797ff8e0-cbf0-4a3d-a079-86319577abe6", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("mc_lp_analytics_allowed", "true", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_fbp", "fb.1.1705696099666.539947144", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_hjSessionUser_959213", "eyJpZCI6ImJmM2VkMWYyLWRmMzctNThjNy04NzRkLTMwMjQ4N2EyMDYxMCIsImNyZWF0ZWQiOjE3MDU2OTYwOTk5OTIsImV4aXN0aW5nIjp0cnVlfQ==", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("mchtClientId", "797ff8e0-cbf0-4a3d-a079-86319577abe6", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("intercom-device-id-bt6uj1lk", "ca2690f0-58bb-4b64-81b0-246a9cf3bb96", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("NPS_2c18fff6_last_seen", "1705698299723", "/", "manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("mc_old_accounts_questionnaire_show_counter-164245683449375", "2", "/", "manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_hjSessionUser_2533088", "eyJpZCI6IjA1YzcxMWFiLTY1NjMtNTgwZi05NjJjLTc4M2FjZGY4ODRhOSIsImNyZWF0ZWQiOjE3MDU5OTkxNzIwMzUsImV4aXN0aW5nIjp0cnVlfQ==", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("__ddg1_", "vKHO4g2tjHN1S3ABIKyM", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("mc_old_accounts_questionnaire_show_counter-102972546066790", "1", "/", "manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("mc_old_accounts_questionnaire_show_counter-209240648941071", "1", "/", "manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_ga_BB8728WKW2", "GS1.1.1706476288.6.0.1706476288.60.0.0", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_ga_KKCYW207HG", "GS1.1.1706476288.6.0.1706476288.60.0.0", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_gid", "GA1.2.1667498921.1706606316", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_ga_NWMMHP97RW", "GS1.1.1706615617.1.0.1706615621.56.0.0", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("fblo_532160876956612", "y", "/", "manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("NPS_2c18fff6_throttle", "1706730486175", "/", "manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_ga_VGZ9EKDJD9", "GS1.1.1706696773.20.0.1706696773.60.0.0", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_ga", "GA1.2.777000413.1705696093", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("_hjSession_959213", "eyJpZCI6IjJkN2QxMDhlLWZmZTgtNDVhMS1hNzNmLTIxNTdkM2Y0ZDY1YyIsImMiOjE3MDY3MDc4ODAwNjIsInMiOjAsInIiOjAsInNiIjowLCJzciI6MCwic2UiOjEsImZzIjowLCJzcCI6MX0=", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("mc_production-main", "bqkpjg7vis6qv05d8j14fb82ia", "/", ".manychat.com")))
$session.Cookies.Add((New-Object System.Net.Cookie("intercom-session-bt6uj1lk", "bWdyNHBLZXh5ZmJodjhiblRsYlU3c0laZ0NtWnZyakF2MDdTNWdpRjdsQVFwenNUSXdOOENhc2dPVXZ4ODRVQy0tWnpTSkdIMkpYSXg0ci8xTHpXWGx6Zz09--659184a91011a4b9eb34796df85495698848652c", "/", ".manychat.com")))
Invoke-WebRequest -UseBasicParsing -Uri "https://manychat.com/fb164245683449375/accountApps/getAppAction?app_id=210&action_name=generate_webview_2_groups" `
-WebSession $session `
-Headers @{
"authority"="manychat.com"
  "method"="GET"
  "path"="/fb164245683449375/accountApps/getAppAction?app_id=210&action_name=generate_webview_2_groups"
  "scheme"="https"
  "accept"="*/*"
  "accept-encoding"="gzip, deflate, br"
  "accept-language"="fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7,ar;q=0.6"
  "baggage"="sentry-environment=production,sentry-release=3027457b576f39fffb90e64ff2be808147ce5f25,sentry-public_key=2e97b4daccb443d4aa97ccedea318be3,sentry-trace_id=56da8d9d93cb45cd92a91f193bbe434a"
  "referer"="https://manychat.com/fb164245683449375/cms/files/22820185--22820188--content20240130070151_763147/edit"
  "sec-ch-ua"="`"Not A(Brand`";v=`"99`", `"Google Chrome`";v=`"121`", `"Chromium`";v=`"121`""
  "sec-ch-ua-mobile"="?0"
  "sec-ch-ua-platform"="`"Windows`""
  "sec-fetch-dest"="empty"
  "sec-fetch-mode"="cors"
  "sec-fetch-site"="same-origin"
  "sentry-trace"="56da8d9d93cb45cd92a91f193bbe434a-ae56f7e13f054f41-0"
  "x-csrf-token"="d2f4d12a977c23a185af"
  "x-frontend-bundle"="25284"
  "x-requested-with"="XMLHttpRequest"
}