<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info Lookup Order</title>
    <!-- Load Bootstrap 4, JQuery-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script>
        let facebookAppId = "<%= facebookAppId %>"
    </script>
    <script type="text/javascript" src="/js/order.js" ></script>
    <!-- <script type="text/javascript" src="/js/supportOrder.js"></script> -->
    <!-- <script data-main="scripts/main" src="scripts/require.js"></script> -->
    


</head>
<body>
    <script>

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));



            window.extAsyncInit = function() {
            MessengerExtensions.getContext(facebookAppId,
                    function success(thread_context){
                        // success
                        //set psid to input
                        console.log(thread_context);
                        // document.getElementById('psid').value(thread_context.psid);
                        // $("#psid").val(thread_context.psid);
                        let userPSID = thread_context.psid;
                        document.getElementById("psid").value = userPSID;
                        alert(psid);
                        // console.log(thread_context);
                    handleClickButtonFindOrder();
                        // supportOrder.closeWebview();
                        // closeWebview();
                    },
                    function error(err){
                        // error
                        alert("Messenger Extension Error: " + err);
                        // console.log(err);
                    }
                );
            };

    </script>
    <!-- <script type="module" src="lib.js" ></script> -->
    <form>
        <input type="text" id="psid" hidden>
        <div class="text-center mt-3">
            <span class="title">Order lookup</span>
        </div>
        <div class="form-group">
          <label for="customer">Customer:</label>
          <input type="text" id="customer" name="customer" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required class="form-control">
        </div>
        <div class="form-group">
          <label for="order_number">Order Number:</label>
          <input type="text" id="order_number" name="order_number" required class="form-control">
        </div>
        <button class ="form-group" type="button" id="find_order_btn" onclick="handleClickButtonFindOrder()" class="btn btn-primary">Find Order</button>
        <button id="close-btn" onclick="closeWebview()">Close</button>
      
      
      </form>
<!-- <div class="container fix-height">
    <div class="row">
        <div class="col-12">
            <div class="text-center mt-3">
                <span class="title">Order lookup</span>
            </div>
            <input type="text" id="psid" hidden>
            <div class="form-group">
                <label for="customerName">Customer:</label>
                <input type="text" id="customerName" class="form-control" placeholder="Name...">
            </div>
            <div class="form-group">
                <label for="email">Email address (<span style="color: red">*</span>):</label>
                <input type="email" id="email" class="form-control" placeholder="Email address...">
                <div class="invalid-feedback">Please fill out your email address.</div>
            </div>
            <div class="form-group">
                <label for="orderNumber">Order number (<span style="color: red">*</span>):</label>
                <input type="text" id="orderNumber" class="form-control" placeholder="Order number...">
                <div class="invalid-feedback">Please fill out your order number.</div>
            </div>
            <button class="btn btn-primary" id="btnFindOrder" onClick="handleClickButtonFindOrder()"> FIND ORDER </button>
            <button class="btn btn-primary" id="close-btn" onClick="closeWebview()">Close</button>
            <button id="close-btn" onclick="closeWebview()">Close</button>
        </div>

    </div>

</div> -->
<footer>
    <div class="text-center">
        <div class="">
            <span class="mr-3">	&copy; Chatbot Tutorial</span>
            <span class="ml-3">
                Powered by <a href="https://bit.ly/subscribe-haryphamdev" target="_blank">HaryPhamDev</a>
            </span>
        </div>
    </div>
</footer>

</body>
</html>
