<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Info Lookup Order</title>
    <!-- Load Bootstrap 4, JQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Load custom Javascript and CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <script>
        let facebookAppId = "873864850346412";
    </script>
    <script type="text/javascript" src="/js/order.js"></script>

</head>

<body>

    <script>
        window.fbMessengerPlugins = window.fbMessengerPlugins || {
            init: function () {
                FB.init({
                    appId: '873864850346412',
                    autoLogAppEvents: true,
                    xfbml: true,
                    version: 'v2.10'
                });
            },
            callable: []
        };

        window.fbAsyncInit = window.fbAsyncInit || function () {
            window.fbMessengerPlugins.callable.forEach(function (item) {
                item();
            });
            window.fbMessengerPlugins.init();
        };
        setTimeout(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }, 0);

    </script>

    <script>
        // Code copied from Facebook to load and initialize Messenger extensions
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

    </script>

    <form id="preferencesForm">
        <input type="text" id="psid" hidden>
        <div class="text-center mt-3">
            <span class="title">Order lookup</span>
        </div>
        <div class="form-group">
            <label for="customer">Customer:</label>
            <input type="text" id="customer" name="customer" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required class="form-control">
        </div>
        <div class="form-group">
            <label for="order_number">Order Number:</label>
            <input type="text" id="order_number" name="order_number" required class="form-control">
        </div>
        <button type="submit" id="find_order_btn">Find Order</button>
    </form>

    <footer>
        <div class="text-center">
            <div class="">
                <span class="mr-3">&copy; Chatbot Tutorial</span>
                <span class="ml-3">
                    Powered by <a href="https://bit.ly/subscribe-haryphamdev" target="_blank">HaryPhamDev</a>
                </span>
            </div>
        </div>
    </footer>

    <script>
        window.extAsyncInit = async function () {
            console.log('Messenger extensions are ready');

            try {
                const thread_context = await new Promise((resolve, reject) => {
                    MessengerExtensions.getContext(facebookAppId,
                        function success(thread_context) {
                            resolve(thread_context);
                        },
                        function error(err) {
                            reject(err);
                        }
                    );
                });

                console.log(thread_context);
                let userPSID = thread_context.psid;
                document.getElementById("psid").value = userPSID;
                alert(psid);

                $("#preferencesForm").submit(async function (event) {
                    event.preventDefault();
                    let data = {
                        psid: document.getElementById('psid').value,
                        customer: document.getElementById('customer').value,
                        email: document.getElementById('email').value,
                        order_number: document.getElementById('order_number').value
                    };
                    alert(JSON.stringify(data));

                    try {
                        await $.post(`${window.location.origin}/set-info-order`, data);
                        MessengerExtensions.requestCloseBrowser(function () {
                            console.log('Window will be closed');
                        }, function (error) {
                            console.log('There is an error');
                            console.log(error);
                        });
                    } catch (error) {
                        console.error('Error submitting data:', error);
                    }
                });

            } catch (error) {
                console.error('Error initializing Messenger extensions:', error);
            }
        }
    </script>
</body>

</html>
