<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Order Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <!-- Load custom Javascript and CSS -->
 <link rel="stylesheet" href="/css/style_product_oder.css">
 <script>
    let facebookAppId = "873864850346412";
</script>
<script type="text/javascript" src="/js/order.js"></script>


</head>

<body>

    <!-- Load Facebook Messenger Extensions -->
    <script>
        window.fbMessengerPlugins = window.fbMessengerPlugins || {
            init: function () {
                FB.init({
                    appId: '873864850346412', // Replace with your Facebook App ID
                    autoLogAppEvents: true,
                    xfbml: true,
                    version: 'v2.10'
                });
            },
            callable: []
        };

        window.fbAsyncInit = window.fbAsyncInit || function () {
            window.fbMessengerPlugins.callable.forEach(function (item) {
                item();
            });
            window.fbMessengerPlugins.init();
        };
        setTimeout(function () {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }, 0);
    </script>

    <script>
        // Code copied from Facebook to load and initialize Messenger extensions
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

    </script>


    <h1>Product Order Form</h1>

    <form action="/submit_order" method="post">
        <!-- User Information -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <!-- Product Selection -->
        <label for="product">Select a product:</label>
        <select id="product" name="product" required>
            <option value="headphones">Headphones</option>
            <option value="tv">TV</option>
            <option value="playstation">PlayStation</option>
            <!-- Add more options as needed -->
        </select>

        <!-- Quantity -->
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" required>

        <!-- Additional Comments -->
        <label for="comments">Additional Comments:</label>
        <textarea id="comments" name="comments" rows="4"></textarea>

        <!-- Submit Button -->
        <button type="submit">Submit Order</button>
    </form>

</body>
</html>
