<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Order Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Load custom Javascript and CSS -->
    <link rel="stylesheet" href="/css/style_product_oder.css">
    <script>
        const facebookAppId = "873864850346412";
    </script>
    <script type="text/javascript" src="/js/MessengerExtenssion.js"></script>
    
    <script type="text/javascript" src="/js/order.js"></script>
</head>

<body>
    
    
    
    <script>
        window.addEventListener('MessengerExtensionsReady', function () {
            // Now MessengerExtensions is available
            const MessengerExtensions = window.MessengerExtensions;

            // Close the browser window when MessengerExtensions is ready
            MessengerExtensions.requestCloseBrowser(function () {
                console.log('Window will be closed');
            }, function (error) {
                console.log('There is an error');
                console.log(error);
            });
        });
    </script>
    <!-- Load Facebook Messenger Extensions -->
    <script>
        window.fbMessengerPlugins = window.fbMessengerPlugins || {
            init: function () {
                FB.init({
                    appId: facebookAppId,
                    autoLogAppEvents: true,
                    xfbml: true,
                    version: 'v2.10'
                });
            },
            callable: []
        };

        window.fbAsyncInit = window.fbAsyncInit || function () {
            window.fbMessengerPlugins.callable.forEach(function (item) {
                item();
            });
            window.fbMessengerPlugins.init();
        };
        setTimeout(() => {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }, 0);





        
    </script>
    

    <h1>Product Order Form</h1>
    <form id="order_form" action="/post-order-form" method="post">
        <!-- User Information -->
        <input type="text" id="psid" name="psid" hidden>

        <!-- Form inputs for product information -->
        <label for="product">Product:</label>
        <input type="text" id="product" name="product" readonly>

        <label for="size">Size:</label>
        <input type="text" id="size" name="size" readonly>

        <label for="price">Price:</label>
        <input type="text" id="price" name="price" readonly>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="nom">Nom et prénom:</label>
        <input type="text" id="nom" name="nom" required>

        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse" required>

        <label for="numéro_t">Numéro de téléphone:</label>
        <input type="text" id="numéro_t" name="numéro_t" required>

        <!-- Submit Button -->
        <button type="button" onclick="submitOrder()">Order Now</button>
    </form>

    <!-- JavaScript Code -->
    <script> async function fetchProduct() {
        // Fetch product data 
        try {
            const response = await fetch('https://messenger-app-7fl9.onrender.com/get-product/1'); // Use the correct endpoint
            const product = await response.json();

            console.log(product);

            document.getElementById('product').value = product.title;
            document.getElementById('size').value = product.size;
            document.getElementById('price').value = product.price;
        } catch (error) {
            console.error('Error fetching product data:', error);
        }
    }

    function closeBrowserWindow() {
        try {
            const MessengerExtensions = window.MessengerExtensions;
            if (typeof MessengerExtensions !== 'undefined') {
                MessengerExtensions.requestCloseBrowser(function () {
                    console.log('Window will be closed');
                }, function (error) {
                    console.log('There is an error');
                    console.log(error);
                });
            } else {
                console.warn('MessengerExtensions is not defined');
            }
        } catch (error) {
            console.error('Error closing browser window:', error);
        }
    }

    window.extAsyncInit = async function () {
        console.log('Messenger extensions are ready');

        await fetchProduct();

        try {
            const thread_context = await MessengerExtensions.getContext(facebookAppId);
            console.log(thread_context);

            if (thread_context && thread_context.psid) {
                const userPSID = thread_context.psid;
                document.getElementById("psid").value = userPSID;

                // Move the event listener assignment inside extAsyncInit
                const orderButton = document.querySelector('button');
                orderButton.addEventListener('click', (event) => {
                    event.preventDefault();
                    submitOrder();
                });
            } else {
                console.warn('Thread context or psid is undefined');
            }
            
           

        } catch (error) {
            console.error('Error initializing Messenger extensions:', error);
        }
    }

    function submitOrder() {
        const formData = {
            psid: document.getElementById('psid').value,
            email: document.getElementById('email').value,
            nom: document.getElementById('nom').value,
            adresse: document.getElementById('adresse').value,
            numéro_t: document.getElementById('numéro_t').value,
            product: document.getElementById('product').value,
            size: document.getElementById('size').value,
            price: document.getElementById('price').value
        };

        const backendUrl = 'https://messenger-app-7fl9.onrender.com/post-order-form';

        fetch(backendUrl, {
            method: 'POST',
            body: new FormData(document.getElementById('order_form')),
        })
            .then(response => response.json())
            .then(data_ => {
                console.log(data_);
                // Close the browser window after successful order submission
                closeBrowserWindow();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    </script>

</body>

</html>
