/* stick footer to bottom
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.fix-height {
    flex: 1;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.title {
    font-weight: 600;
    font-size: 30px;
}


.form-group {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  } */

  .form-control{
    width: 76%;
    background-color: #f9f9f9;
    border-radius:5px;
    box-shadow: 0 0 10px 0 #d9d9d9;
    padding:10px;
    transition: all 0.3s ease-in-out;
    margin-left:60px;
    margin-right:60px;
  }
  .form-group{
    margin-bottom:20px;
  }
  .form-control:focus{
    background-color: #fff;
    box-shadow: 0 0 10px 0 #8bc34a;
    outline: none;
  }
  #find_order_btn{
    background-color: #8bc34a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    margin-left:20px;
    margin-right:20px;
  }
  #find_order_btn:hover{
    background-color: #689f38;
    cursor: pointer;
  }
  .title {
    font-weight: 600;
    font-size: 30px;
}