/*stick footer to bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.fix-height {
    flex: 1;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.title {
    font-weight: 600;
    font-size: 30px;
}


.form-group {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }